header {
  border-bottom: var(--border-default);
  padding: 0.75rem 1.5rem;
  height: 7%;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  gap: 0.75rem;
}

nav button {
  background: transparent;
  border: none;
  padding: 0.5rem 0.75rem;
  color: var(--color-text-primary);
  cursor: pointer;
  border-radius: var(--border-radius-small);
}
