.list-item {
  padding: 1rem;
  border-radius: var(--border-radius-small);
  border: none;
  background-color: var(--color-background-secondary);
  color: var(--color-text-secondary);
  cursor: pointer;
  font-size: var(--font-size-medium);
}

.list-item:hover {
  background-color: var(--color-background-primary-hover);
}
