.select-input label {
  display: flex;
  flex-direction: column;
  color: var(--color-text-primary);
  gap: 0.35rem;
  font-size: var(--font-size-medium);
}

.select-input select {
  padding: 0.5rem 0.6rem;
  border-radius: var(--border-radius-small);
  background-color: var(--color-gray-200);
  border: none;
}

.select-input select:focus {
  outline: none;
}
.select-input {
  max-width: var(--content-max-width);
  width: 100%;
}
