.text-input label {
  display: flex;
  flex-direction: column;
  color: var(--color-text-primary);
  gap: 0.35rem;
}

.text-input input {
  padding: 0.5rem 0.6rem;
  border-radius: var(--border-radius-small);
  background-color: var(--color-gray-200);
  border: none;
}

.text-input input:focus {
  outline: none;
}
