.button-container button {
  border: none;
  background-color: var(--color-background-secondary);
  color: var(--color-text-secondary);
  padding: 1rem;
  margin: 1rem;
  border-radius: var(--border-radius-small);
  min-width: 200px;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-container button:hover {
  cursor: pointer;
  color: var(--color-text-primary-hover);
  background-color: var(--color-background-primary-hover);
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
