.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: var(--border-radius-medium);
  width: 90%;
  max-width: 600px;
  max-height: 80vh;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: var(--border-default);
}

.search-container {
  padding: 20px;
  border-bottom: var(--border-default);
}

.search-input {
  width: 100%;
  padding: 10px;
  border: var(--border-default);
  border-radius: var(--border-radius-small);
  font-size: 1rem;
  box-sizing: border-box;
}

.records-list {
  max-height: 400px;
  overflow-y: auto;
}

.record-item {
  padding: 15px 20px;
  border-bottom: var(--border-default);
  cursor: pointer;
  transition: background-color 0.2s;
  gap: 1rem;
  display: flex;
}

.record-item:hover {
  background-color: var(--color-background-primary-hover);
}

.record-item p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
  min-width: 100px;
  text-align: center;
}

.record-item p:hover {
  width: fit-content;
}
