.page-container {
  display: flex;
  height: 93%;
}

.main-container {
  max-width: 420px;
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-container h1 {
  margin-bottom: 1.5rem;
  color: var(--color-text-primary);
}
