.stock-item-header {
  display: flex;
  justify-content: space-between;
}
.stock-item-header-title {
  display: flex;
  gap: 1rem;
}
.stock-item {
  margin: 1rem;
}
.stock-item-picture {
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  object-fit: cover; /* crop to fill */
  object-position: center;
  border-radius: 6px;
}

.stock-item-picture-container {
  display: flex;
  justify-content: center;
}

.stock-item-edit {
  margin: 1rem;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  align-items: center;
  margin: 1rem auto;
  justify-items: center;
}
