.sidebar-nav-container {
  min-width: 200px;
  width: 15%;
  height: 100%;
  border-right: 1px solid var(--color-background-secondary);
  background-color: var(--color-background-primary);
}

.sidebar-nav-item {
  display: block;
  padding: 12px 16px;
  color: var(--color-text-secondary);
  background-color: var(--color-background-secondary);
  text-decoration: none;
  border-bottom: 1px solid var(--color-text-secondary);
  width: 100%;
}
.sidebar-nav-item:hover {
  background: var(--color-background-secondary-hover);
}
.sidebar-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.sidebar-nav-li {
  margin: 0;
  padding: 0;
}
.sidebar-nav-item-active {
  display: block;
  padding: 12px 16px;
  color: var(--color-text-secondary);
  background-color: var(--color-background-secondary-hover);
  text-decoration: none;
  width: 100%;
  border-bottom: 1px solid var(--color-text-secondary);
}
