.page-container {
  display: flex;
  height: 93%;
}

.main-container {
  max-width: 420px;
  margin: 2rem auto;
}

.page-container h1 {
  margin-bottom: 1.5rem;
  color: var(--color-text-primary);
}

.salesperson-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.salesperson-form button {
  margin-top: 0.75rem;
  padding: 0.6rem;
  border-radius: var(--border-radius-small);
  border: none;
  background-color: var(--color-background-secondary);
  color: var(--color-text-secondary);
  cursor: pointer;
}

.salesperson-form button:hover {
  background-color: var(--color-background-secondary-hover);
  color: var(--color-text-secondary-hover);
}
