.page-container {
  display: flex;
  height: 93%;
}

.main-container {
  max-width: 420px;
  margin: 2rem auto;
}

.page-container h1 {
  margin-bottom: 1.5rem;
  color: var(--color-text-primary);
}

.salesperson-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
