header {
  border-bottom: var(--border-default);
  padding: 0.75rem var(--page-padding);
  height: var(--header-height);
  display: flex;
  align-items: center;
  font-size: var(--font-size-medium);
}

nav {
  display: flex;
  gap: 0.75rem;
}

nav button {
  background: transparent;
  border: none;
  padding: 0.5rem 0.75rem;
  color: var(--color-text-primary);
  cursor: pointer;
  border-radius: var(--border-radius-small);
  font-size: var(--font-size-large);
}
