.button-primary {
  margin-top: 0.75rem;
  padding: 0.6rem;
  border: none;
  background-color: var(--color-background-secondary);
  color: var(--color-text-secondary);
  cursor: pointer;
  padding: 0.6rem;
  border-radius: var(--border-radius-small);
  min-width: 95px;
  max-width: 240px;
  width: 100%;
}
.button-primary:hover {
  background-color: var(--color-background-secondary-hover);
  color: var(--color-text-secondary-hover);
}

.button-red {
  margin-top: 0.75rem;
  padding: 0.6rem;
  border: none;
  background-color: var(--color-warning-red);
  color: var(--color-text-secondary);
  cursor: pointer;
  padding: 0.6rem;
  border-radius: var(--border-radius-small);
  min-width: 95px;
  max-width: 240px;
  width: 100%;
}
.button-red:hover {
  background-color: var(--color-warning-red-dark);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.content-container {
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 1rem var(--page-padding);
  text-align: center;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  height: calc(100vh - var(--header-height));
}

.content-container h1 {
  font-size: var(--font-size-large);
}
.content-container p {
  font-size: var(--font-size-small);
}

.content-container button {
  font-size: var(--font-size-medium);
}
.content-container h2 {
  font-size: var(--font-size-medium);
}
.main-container {
  display: flex;
  min-height: calc(100vh - var(--header-height));
  color: var(--color-text-primary);
}

.form-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: start;
  justify-items: stretch;
}

@media (min-width: 768px) {
  .form-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .form-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .form-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.form-button-container {
  grid-column: 1 / -1;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
