.loading {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 420px;
  margin: 2rem auto;
}

.button-container {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}
