.App {
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

:root {
  /* Greys */
  --color-gray-100: #f3f4f6;
  --color-gray-200: #a7a5a5;
  --color-gray-700: #4f4f4f;
  --color-gray-900: #1a1a1a;

  /* Borders */
  --border-default: 1px solid var(--color-gray-200);

  /* Backgrounds */
  --color-background-primary: var(--color-gray-100);
  --color-background-secondary: var(--color-gray-700);
  --color-background-primary-hover: var(--color-gray-200);
  --color-background-primary-active: var(--color-gray-200);
  --color-background-secondary-hover: var(--color-gray-200);
  --color-background-secondary-active: var(--color-gray-200);

  /* Text */
  --color-text-primary: var(--color-gray-900);
  --color-text-secondary: var(--color-gray-100);
  --color-text-primary-hover: var(--color-gray-900);
  --color-text-primary-active: var(--color-gray-900);
  --color-text-secondary-hover: var(--color-gray-900);
  --color-text-secondary-active: var(--color-gray-900);

  /* Border Radius */
  --border-radius-small: 6px;
  --border-radius-medium: 12px;
  --border-radius-large: 24px;

  /* Colors */
  --color-warning-red: #ff0000;
  --color-warning-red-dark: #510000;

  --page-padding: 1rem;
  --content-max-width: 420px;
  --content-margin-block: 1.25rem;
  --header-height: 56px;
}

@media (min-width: 100px) {
  :root {
    --page-padding: 1.5rem;
    --content-max-width: 720px;
    --content-margin-block: 1.75rem;
    --header-height: 64px;
    --font-size-small: 0.5rem;
    --font-size-medium: 0.75rem;
    --font-size-large: 1.2rem;
  }
}

@media (min-width: 512px) {
  :root {
    --page-padding: 2rem;
    --content-max-width: 960px;
    --content-margin-block: 2rem;
    --header-height: 72px;
    --font-size-small: 0.75rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.5rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --content-max-width: 1100px;
    --font-size-small: 1rem;
    --font-size-medium: 1.25rem;
    --font-size-large: 1.8rem;
  }
}
